<div class="row">
  <div class="col-md-8">
    <div id="item-data">
      <h1><%= @genre.name %></h1>

      
      <span id="filmetric"><%= @genre.filmetric %></span>

      <h2>Movies</h2>
      <ul>
        <% @genre.movies.each do |movie| %>
          <li><a href="<%= movie_path(movie.id) %>"><%= movie.title %></a></li>
        <% end %>
      </ul>

    </div>
  </div>

  <!-- <div id="image-container" class="col-md-4">
    
  </div> -->
</div>
