<div class="row" id="movie-options">
  <% unless choices.blank? %>
    <% choices.each do |movie| %>
      <div class="choice">
        <a href="<%= movie_path(movie) %>"><img class="poster-thumbnail" src="<%= movie.poster_link %>"></a>
      </div>
    <% end %> 
  <% end %>
</div>