<%= render 'layouts/nav' %>

<div id="about">
  <h1>What the Hell It Is:</h1>

  <p class="about">Filmetric subtracts the Audience Score from the Critic Score for movies on Rotten Tomatoes.
  Postive numbers mean critics liked the movie more; negative numbers indicate more popular approval. 
  Average filmetrics are provided for actors, directors, and genres.</p>

  <p class="about">A movie is color coded based on the average of its Critic Score and Audience Score.</p>

  <ul>
    <li><span class="good">Green</span>: greater than or equal to 75</li> 
    <li><span class="ok">Orange</span>: between 75 and 50</li> 
    <li><span class="bad">Red</span>: lower than 50</li> 
  </ul>
</div>