// Place all the styles related to the Actors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#actor-container {
  margin-top: 20px;
}

#actor-data {
  margin-left: 20px;
}

#image-container {
  margin-top: 20px;
}

#filmetric {
  font-size: 4em;
}

#chart {
  margin-top: 160px;
}

.good {
  color: green;
}

.ok {
  color: orange;
}

.bad {
  color: red;
}