// Place all the styles related to the Movie controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#poster-container {
  margin-top: 80px;
  .poster {
  width: 90%;
  } 
}

#nav {
  margin-left: 50px;
}

#item-data {
  margin-left: 50px;
  li {
    list-style-type: none;
    margin-left: -30px;
  }
  p {
    margin-left: 10px;
  }
}

#filmetric-good {
  font-size: 4em;
  color: green;
}

#filmetric-ok {
  font-size: 4em;
  color: #f0ad4e;
}

#filmetric-bad {
  font-size: 4em;
  color: #d44950;
}


