// Place all the styles related to the Movie controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.browse-form {
  font-size: 20px;
  display: inline-block;
}

#movie-options {
  margin-left: 40px;
  #notice {
    margin-left: 217px;
  }
  .choice {
    float: left;
    padding: 5px;
    .poster-thumbnail {
      height: 292px;
      width: 217px;
    }
  }
}

#poster-container {
  margin-top: 77px;
  .poster {
  width: 90%;
  } 
}

#score-box {
  margin-top: 18px;
  #overview {
    margin-bottom: 20px;
  }
  .good-rt-img {
    width: 30px;
    margin-bottom: 17px;
  }
  .bad-rt-img {
    width: 40px;
    margin-bottom: 10px;
  }
  #scores {
    p { display: inline-block; }
    font-size: 2em;
    #filmetric {
      font-size: 1.25em;
    }
    .math {
      margin: 0 5px;
    } 
  }
}

#data-container {
  margin-left: 46px;
  #item-data {
    h2 {
      margin-top: 10px;
    }
    li {
      list-style-type: none;
      margin-left: -30px;
    }
    p {
      margin-left: 10px;
    }
  }
}
