// Place all the styles related to the Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#search-container {
  #search-box {
    margin-top: 25%;
    margin-left: 100px;
    margin-right: 10px;
    #categories {
      margin-right: 5px;
    }
    #search-button {
      margin-left: 5px;
    }
  }
}