// Place all the styles related to the Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container {
  background: url('film-background.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 750px 100%;
}

#results-container {
  li {
    list-style-type: none;
    font-size: 2em;
    margin-bottom: 5px;
  }
  h1 {
    margin-bottom: 30px;
  }
}

#search-container {
  height: 1000px;
  width: 1000px;
  h1 {
    position: absolute;
    margin-top: 100px;
    margin-left: 50px;
    font-size: 4em;
  }

  #search-box {
    margin-top: 40%;
    margin-left: 50px;
    #categories {
      margin-right: 5px;
    }
    #search-button {
      margin-left: 5px;
    }
  }
}